<form>
   </br>
   <div class="form-group" >
   <div class="row">
       <div ng-repeat="group in $ctrl.filter" class="col-sm-2">
         <h2>{{group.label}}</h2>
         <div ng-repeat="info in group.properties">
           <input type="checkbox" ng-model="$ctrl.search[info.property]" ng-change="$ctrl.change(info.property)">{{info.label}}</input>
         </div>
       </div>
   </div></br>

   <div class="row">
      <button type="button" class="btn btn-primary" ng-click="$ctrl.reset()">Reset</button></br></br>
   </div>
</form>

<div class="row">
   <h2>Showing <strong>{{ $ctrl.tableParams.total() }}</strong> {{ $ctrl.tableParams.total() == 1 ? "Finding" : "Findings" }}</h2>
   <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="true">
      <tbody>
        <tr ng-repeat="info in $data">
          <td  title="'Finding'" filter="{ Finding: 'text' }" sortable="'Finding'">{{info.Finding}}</td>
          <td title="'Dimension'" filter="{ Dimension: 'text' }" sortable="'Dimension'">{{info.Dimension}}</td>
          <td title="'Subdimension'" filter="{ Subdimension: 'text' }" sortable="'Subdimension'">{{info.Subdimension}}</td>
          <td title="'Measure'" filter="{ Measure: 'text' }" sortable="'Measure'">{{info.Measure}}</td>
          <td title="'Year'" filter="{ Year: 'text' }" sortable="'Year'">{{info.Year}}</td>
          <td title="'DataSource'" filter="{ 'DataSource': 'text' }" sortable="'DataSource'">{{info.DataSource}}</td>
       </tr>
</table>
</div>
